
<h3>Control Avatar</h3>
<p class="info-text">You should see the avatar block moving inside the maze. Keyboard might work as well.</p>
<table id="move-controls">
<tr>
  <td></td>
  <td>
    <button id="move-up">Up</button>
  </td>
  <td></td>
</tr>
<tr>
  <td>
    <button id="move-left">Left</button>
  </td>
  <td></td>
  <td>
    <button id="move-right">Right</button>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <button id="move-down">Down</button>

  </td>
  <td></td>
</tr>
</table>
